@model IEnumerable<Domain.TRK.Tag>

@{
    ViewBag.Title = "Etiquetas (Conceptos)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success" href="@Url.Action("Resume", "Clasifications", new { area = "Expenses"   })"> <span class="fa fa-reply"></span> Volver al Resumen Financiero </a>
    <a class="btn btn-primary" href="@Url.Action("CreateTag", "Clasifications", new {area = "Expenses"})"> <span class="fa fa-user-plus"></span> Registrar Etiqueta (Concepto)</a>
</p>

<div class="scroller">
    <table id="MyTable" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Amount2)
            </th>*@
             
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>


                
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Amount2)
                </td>*@
                 
                <td>
                    <a class="btn btn-warning" href="@Url.Action("EditTag", "Clasifications", new { area = "Expenses" , id=@item.TagId })"> <span class="fa fa-pencil-square-o"></span> Editar</a>
                    @*<a class="btn btn-info" href="@Url.Action("DetailsTag", "Clasifications", new { area = "Expenses" , id=@item.TagId })"> <span class="fa fa-info"></span> Desglose de Informacion </a>*@
                    <a class="btn btn-danger" href="@Url.Action("DeleteTag", "Clasifications", new { area = "Expenses" , id=@item.TagId })" onclick="return confirm('Esta seguro que desea eliminar este registro?')"> <span class="fa fa-trash-o"></span> Eliminar </a>

                </td>
            </tr>
        }

        </tbody>
    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });
    </script>

}


