@model IEnumerable<Wymim.Domain.Wallet>

@{
    ViewData["Title"] = "Wallet Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wallet Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Wallet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Code
            </th>
            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
               Current Amount
            </th>
            <th>
            Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @*this call the edit action, and send the id of the 
                element than its going to be edit*@
                <a class="btn btn-warning" asp-action="Edit" 
                   asp-route-id="@item.WalletId">Edit </a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.WalletId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.WalletId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
