@model IEnumerable<Wimym.Backend.Models.Currency>

@{
    ViewData["Title"] = "Currencies Index";
}

 

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Currency</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["CodeSortparam"]" >@Html.DisplayNameFor(model => model.Code)</a>  
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["NameSortparam"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-warning"  asp-action="Edit" asp-route-id="@item.CurrencyId">Edit</a> |
                <a  class="btn btn-info" asp-action="Details" asp-route-id="@item.CurrencyId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CurrencyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
